<header>
    <div class="content">
        <div class="content-title">
            <h1>Welcome to the <br><span class="title">Green Place</span>!</h1>
        </div>
        <div class="content-social">
            <a href="https://www.instagram.com/guiarmanli/" target="_blank"><img src="/src/app/components/shared/header/image/instagram-image.png"></a>
            <a href="https://github.com/GuiArmanLi" target="_blank"><img src="/src/app/components/shared/header/image/github-image.jpg"></a>
        </div>
    </div>

    <nav>
        <a routerLink="http://localhost:4200/">HOME</a>
        <a routerLink="list-products">LIST PRODUCTS</a>
        <a routerLink="http://localhost:4200/personal-page">HIRE ME</a>
        <a routerLink="http://localhost:4200/contact-us">ABOUT US</a>
    </nav>
</header>