div {
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 20%;
    padding: 50px;
    border-radius: 25px;
    margin: auto;
    background-color: #183D3D;
}

input,
button {
    width: 200px;

    padding: 2px;
    border: none;
    margin: 2px;

    opacity: 0.9;
}

input:focus {
    border: none;
    opacity: 1;
}