<aside>
    <h2>What's the <span class="title">Green Place</span>?</h2>
    <p>A Green Place é uma organização não governamental (ONG) dedicada ao plantio de árvores em áreas urbanas. Seu principal objetivo é promover a sustentabilidade ambiental e melhorar a qualidade de vida nas cidades através do aumento da cobertura vegetal. Através de parcerias com governos locais, empresas e voluntários engajados, a Green Place trabalha incansavelmente para transformar espaços urbanos áridos e sem vida em locais verdes e acolhedores.</p>
    
    <h2>What's the <span class="title">Green Place</span> is looking for?</h2>
    <h2>What's the <span class="title">Green Place</span>?</h2>
    <h2>What's the <span class="title">Green Place</span>?</h2>
    
    <div class="institutional">
        <div>
            <h3>Mission</h3>
            <p>Brought the mutuality to the people and the nature in the towns.</p>
        </div>
        
        <div>
            <h3>Vision</h3>
            <p>Plant 300.000 thousand of plenty in the Sao Paulo city.</p>
        </div>
        
        <div>
            <h3>Values</h3>
            <p>Humanity, sustainability, respect, education</p>
        </div>
    </div>
    
    <div>
        <address>
            <div class="Headquarter">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.547317888461!2d-46.3896321!3d-23.548778700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce651a9d805b37%3A0x39a000d79327ce8c!2sR.%20Iljima%2C%201609%20-%20Vila%20do%20Americano%2C%20Ferraz%20de%20Vasconcelos%20-%20SP%2C%2008534-000!5e0!3m2!1spt-BR!2sbr!4v1688882621518!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <h2>Our contacts</h2>
                <ul>
                    <li>Phone:  (11)94686-7628
                    <li>Tel:    (11) 6301-0873
                    <li>Email:  <a href="mailto.guilhermesantanapessa12@gmail.com">greenplace@gmail.com</a>
                </ul>
            </div>
            <div>
                <h2>Our community</h2>
                <ul>
                    <li><a href="#">Press</a>
                    <li><a href="#">Projects</a>
                    <li><a href="#">Group</a>
                </ul>
            </div>
        </address>
    </div>
</aside>