.content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}

p {
    text-align: center;
}

input, button {
    padding: 1px 5px;
    border-radius: 5px;
    margin: 5px 0px;
}

input:focus {
    background-color: gray;
    color: white;
}

button {
    cursor: pointer;
    background-color: #FF8400;
}
