@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf')
    format('opentype'), format('truetype');
    }

body{
    padding: 0px;
    border: 0px;
    margin: 0px;
    background-color: #84e1ad;
}

header{
    background-color: #1a5c38;
    background-image: linear-gradient(to top, #1a5c38, #84e1ad);
    padding: 10px;
}

a{
    text-decoration: none;
}

.nav-link{
    color: white;
    margin: 5px;
}

.nav-link:hover{
    background-color: #84e1ad;
}

menu{
    background-color: white;
    width: 85%;
    padding: 15px;
    border: 1px solid black;
}

p{
    text-indent: 25px;
}

section{
    background-color: #c5ebd6;
    padding: 10px;
}

.bordadasecao{
    border: 1px solid #1a5c382d;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px;
}

footer{
    background-color: #1a5c38;
    color: white;
    text-align: center;
    width: 100%;
}

.larguratotal{
    width: 100%;
}

.centralizar{
    text-align: center;
}

.centralizarimagem{
    width: auto;
}

.destaque{
    font-style: normal;
    color: #84e1ad;
}

.fontdroid{
    font-family: 'idroid';
}

.fundoverde{
    background-color: #2fa866;
    padding: 5px;
}

.degradeverde{
    background-image: linear-gradient(to right, #bdffdb, white);
}

.branco{
    color:white;
}
.verde{
    color: #1a5c38;
}