body {
  position: relative;
  background-color: #65E6D4;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 95vh;
}

form {
  background-color: #E58A64;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-actions {
    display: flex;
    justify-content: end;
}