@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}